.button-icon.btn(
  :is="compTag"
  type="button"
  :class="compColor"
  @click="buttonClick"
)
  icon(v-if="icon" :icon="icon" :family="family")
  span(v-if="text" :class="compTextClass") {{ text }}
