script(src="https://cdn.jsdelivr.net/npm/vue@2")
script(src="https://cdn.jsdelivr.net/npm/clipboard")
script(src="https://cdn.jsdelivr.net/npm/vue-clipboard2/dist/vue-clipboard.min.js")
script(src="https://cdn.jsdelivr.net/npm/vue-multiselect")
script(src="https://cdn.jsdelivr.net/npm/xStore")
script(src="https://cdn.jsdelivr.net/npm/mess-js/src/mess.min.js")
script(src="https://cdn.jsdelivr.net/npm/jquery")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.bundle.min.js")
script(src="https://cdn.jsdelivr.net/npm/emodal")
script(src="https://cdn.jsdelivr.net/npm/fraction.js/fraction.min.js")
script(src="https://cdn.jsdelivr.net/npm/bootstrap-switch-button")
script(src="./app.js")
