script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js")
script(src="https://cdn.jsdelivr.net/gh/zenorocha/clipboard.js@2.0.0/dist/clipboard.min.js")
script(src="https://cdn.jsdelivr.net/gh/inndy/vue-clipboard2/dist/vue-clipboard.min.js")
script(src="https://cdn.jsdelivr.net/gh/florian/xStore/src/xStore.min.js")
script(src="https://cdn.jsdelivr.net/gh/graciano/mess/src/mess.min.js")
script(src="https://cdn.jsdelivr.net/npm/jquery")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.bundle.min.js")
script(src="https://rawgit.com/saribe/eModal/master/dist/eModal.min.js")
script(src="./app.js")
