.recipe-item.card.p-3.mb-3.mx-lg-5(
  v-show="showItem"
  :class="{ 'bg-light': recipe.selected, 'shadow-sm': !recipe.selected, 'shadow': recipe.selected }"
)


  //- Compact list
  .recipe-meta: .d-flex.align-items-center.justify-content-between(v-if="settings.listCompact")

    checkbox.mt-1.fa.fa-lg(:checked="recipe.selected" @click="recipe.selected = !recipe.selected")

    h6.mb-0.flex-grow-1 {{ recipe.name }}

    recipe-servings(:recipe="recipe")

    icon.clickable.d-none.d-md-block(icon="eye" color="secondary" @click="$emit('emodalrecipe')" title="View recipe")


  //- Detailed list
  .d-flex.justify-content-between(v-if="!settings.listCompact")

    .recipe-meta.flex-grow-1

      .d-flex.align-items-start.justify-content-start.mb-2

        checkbox.mt-1.fa.fa-lg(:checked="recipe.selected" @click="recipe.selected = !recipe.selected")

        h5.mb-0 {{ recipe.name }}

        a.mr-2.recipe-link(
          v-if="recipe.link.length > 0"
          href="recipe.link" target="_blank"
        )
          icon( icon="external-link-alt")
          small: .badge.badge-pill.badge-primary.d-none.d-md-inline {{ getLink().host }}

      .d-flex.align-items-center.justify-content-start

        //- "More actions" dropdown
        .dropdown
          icon.clickable(icon="ellipsis-h" data-toggle="dropdown")
          .dropdown-menu
            dropdown-item(text="Edit" icon="pen" color="warning" @click="$emit('updaterecipe')")
            dropdown-item(text="Delete" icon="trash" color="danger" @click="$emit('deleterecipe')")

        icon.clickable(icon="eye" color="secondary" @click="$emit('emodalrecipe')" title="View recipe")

        div: icon(
          :icon=  "isVeg ? 'leaf' : 'drumstick-bite'"
          :color= "isVeg ? 'success' : 'danger'"
        )

        .recipe-rating.text-nowrap(v-if="recipe.rating")
          icon.fa-sm(icon="star" color="warning")
          small {{ recipe.rating }}

        recipe-servings(:recipe="recipe")

        recipe-ingredients(:recipe="recipe" :filters="filters")

    .mh-100.my-n3.mr-n3.rounded-right.recipe-image-thumbnail.clickable(
      v-if="recipe.image"
      :style="{ 'background-image': getImage().css }"
      @click="$emit('emodalrecipe')" title="View recipe"
    )
