.recipe-servings
  span(:class="original.servings == recipe.servings ? '' : 'text-danger'")
    icon.mr-md-1(icon="utensils")
    span(:is="original.servings == recipe.servings ? 'span' : 'b'") {{ recipe.servings || 0 }}
  span.servings-buttons: button-icon.btn-xs.rounded-circle(
    v-for="dir, index in ['plus', 'minus']"
    :icon="dir" color="dark"
    @buttonclick="update(index ? -1 : 1)"
  )
