tr.recipe-item(
  v-show="showItem"
  :class="{ 'table-active': recipe.selected }"
)
  td.recipe-actions: div
    .dropdown.mt-n1
      icon.clickable.my-n2(icon="ellipsis-h" data-toggle="dropdown")
      .dropdown-menu
        .dropdown-item(@click="$emit('updaterecipe')")
          icon.ml-n2.mr-2(icon="pen" color="warning" title="Update recipe")
          | Edit
        .dropdown-item(@click="$emit('deleterecipe')")
          icon.ml-n2.mr-2(icon="trash" color="danger" title="Delete recipe")
          | Delete
    icon.clickable(icon="eye" color="secondary" @click.native="$emit('emodalrecipe')" title="View recipe")
  td.recipe-title
    icon.clickable.fa-lg.mr-2(
      @click.native="toggleSelectedRecipe"
      :icon=  "recipe.selected ? 'check-square' : 'square'"
      :family="recipe.selected ? 'fas' : 'far'"
      :color= "recipe.selected ? 'primary' : ''"
    )
    .recipe-link(
      :is=    "recipe.link.length > 0 ? 'a' : 'span'"
      :href=  "recipe.link.length > 0 ? recipe.link : false"
      :target="recipe.link.length > 0 ? '_blank' : false"
    )
      | {{ recipe.name }}
      span(v-if="recipe.link.length > 0")
        icon.ml-2(icon="external-link-alt")
        .badge.badge-primary {{ getLink().host }}
  td.recipe-comment: i(v-if="recipe.comment.length > 0") {{ recipe.comment }}
  td.recipe-meta: div
    .recipe-meta-ings(v-if="ingSearch.length > 0")
      span.badge.badge-pill(:class="ingSearch.length == filters.ings.length ? 'badge-primary' : 'badge-secondary'") {{ ingSearch.length }}
      span: .ml-1.badge.badge-pill.badge-primary(v-for="ing in ingSearch") {{ ing.name }}
    .recipe-meta-servings: recipe-servings(v-if="recipe.servings" :recipe="recipe")
    icon(
      :icon=  "isVeg ? 'leaf' : 'drumstick-bite'"
      :color= "isVeg ? 'success' : 'danger'"
    )
