.recipe-servings(v-if="recipe.servings")
  span.text-nowrap(
    :class="{ 'text-danger font-weight-bold': currentServings !== recipe.servings }"
  )
    icon.mr-md-1(icon="utensils")
    span {{ currentServings | 0 }}
  span.servings-buttons
    button-icon.btn-xs.rounded-circle(
      v-for="dir, index in ['plus', 'minus']"
      :icon="dir" color="dark"
      @click="update(index ? -1 : 1)"
    )
