#recipe-placeholder.d-none(ref="recipePlaceholder"): .recipe-placeholder.container
  .row.mb-md-3: .col: .recipe-image-thumbnail.rounded(v-if="recipe.image" :style="{ 'background-image': getImage(recipe).css }")
  .row.mb-md-3: .col: i(v-html="nlbr(recipe.comment)")
  .row: ul.fa-ul: li(v-for="(ing, index) in recipe.ingredients" :data-optional="ing.optional ? true : false")
    span.fa-li: small: icon(
      :icon="ing.optional ? 'question' : 'check'"
      :color="ing.optional ? 'primary' : 'success'"
    )
    | {{ ing.amount }}{{ ing.unit }} {{ ing.name }}
