tr.recipe-item .recipe-link {
  position: relative;
}
tr.recipe-item .recipe-link .badge {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
tr.recipe-item .recipe-link:hover .badge {
  transform: translateX(calc(100% + 0.25 * var(--spacer)));
  opacity: 1;
}
tr.recipe-item .recipe-actions,
tr.recipe-item .recipe-meta {
  width: calc( 100% / 12 );
  vertical-align: middle;
}
tr.recipe-item .recipe-actions > div,
tr.recipe-item .recipe-meta > div {
  display: flex;
  gap: var(--spacer);
}
tr.recipe-item .recipe-actions > div {
  justify-content: flex-start;
}
tr.recipe-item .recipe-meta > div {
  justify-content: flex-end;
}
tr.recipe-item .recipe-meta > div > .fas {
  width: 16px;
}
tr.recipe-item .recipe-comment {
  width: calc( 100% / 2 );
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
tr.recipe-item .recipe-actions i {
  cursor: pointer;
}
