tr.recipe-item {
  --column: calc( 100% / 12);
}
tr.recipe-item > td {
  vertical-align: middle;
}
tr.recipe-item .recipe-link {
  position: relative;
}
tr.recipe-item .recipe-link .badge {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
tr.recipe-item .recipe-title {
  width: calc( var(--column) * 4 );
}
tr.recipe-item .recipe-title .recipe-link:hover .badge {
  transform: translateX(calc(100% + 0.25 * var(--spacer)));
  opacity: 1;
}
tr.recipe-item .recipe-actions {
  width: calc( var(--column) * 1 );
}
tr.recipe-item .recipe-actions > div,
tr.recipe-item .recipe-meta > div {
  display: flex;
  align-items: center;
  gap: var(--spacer);
}
tr.recipe-item .recipe-actions > div,
tr.recipe-item .recipe-meta > div {
  justify-content: flex-end;
}
tr.recipe-item .recipe-comment {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
tr.recipe-item .recipe-meta {
  width: calc( var(--column) * 2 );
}
tr.recipe-item .recipe-meta .recipe-meta-ings {
  display: flex;
  align-items: center;
  position: relative;
}
tr.recipe-item .recipe-meta .recipe-meta-ings > span {
  position: absolute;
  right: 0;
  transition: all 0.5s ease-in-out;
}
tr.recipe-item .recipe-meta .recipe-meta-ings > span:nth-child(2) {
  white-space: nowrap;
}
tr.recipe-item .recipe-meta .recipe-meta-ings > span:nth-child(2),
tr.recipe-item:hover .recipe-meta .recipe-meta-ings > span:nth-child(1) {
  opacity: 0;
}
tr.recipe-item .recipe-meta .recipe-meta-ings > span:nth-child(1),
tr.recipe-item:hover .recipe-meta .recipe-meta-ings > span:nth-child(2) {
  opacity: 1;
}
tr.recipe-item .recipe-meta > div > .fas {
  width: 16px;
}
tr.recipe-item .recipe-comment {
  max-width: 0;
}
tr.recipe-item .recipe-meta-servings {
  min-width: 2rem;
}
