.recipe-item .recipe-link small,
.recipe-item .recipe-image-thumbnail {
  transition: var(--transition);
}
.recipe-item .recipe-link {
  position: relative;
}
.recipe-item .recipe-link small {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(var(--spacer));
  opacity: 0;
  visibility: hidden;
}
.recipe-item .recipe-link i:hover ~ small {
  transform: translateX(calc(1.5 * var(--spacer)));
  opacity: 1;
  visibility: visible;
}
.recipe-item .recipe-meta > .d-flex {
  gap: calc(.25 * var(--spacer)) calc(1 * var(--spacer));
}
.recipe-item .recipe-image-thumbnail {
  max-width: 25%;
  filter: saturate(70%) grayscale(20%) brightness(90%);
}
.recipe-item:hover .recipe-image-thumbnail,
.recipe-item.bg-light .recipe-image-thumbnail {
  filter: saturate(100%) grayscale(0%) brightness(100%);
}
